---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'About Gjo';

const identity = {
    firstName: "Gjo",
    country: "United States",
    state: "Florida",
    occupation: "Full Stack Developer",
    hobbies: ["Coding", "Gaming", "Reading"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Node.js", "Express", "MongoDB", "Git", "Astro", "Next", "Docker"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "rgb(0, 156, 199)";
const fontWeight = "bold";
const textCase = "capitalize";
---
<BaseLayout>
        <style define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
              color: rgb(50, 207, 250);
              font-size: 4rem;
            }
            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
          </style>
		<h1>{pageTitle}</h1>
        <h2>Full Stack Developer</h2>
        {happy && <p>I am a full stack developer with a passion for creating web applications. I have experience with a variety of technologies including React, Node.js, Express, and MongoDB. I am always looking to learn new things and improve my skills. I am currently working on a project that uses React, Node.js, and MongoDB to create a web application that allows users to create and share recipes.</p>}
        <p>This site will be updated as I continue on with my current class at Full Sail University!</p>
        {finished && <p>I am currently working on my class at Full Sail University!</p>}
        {goal === 3 ? <p>My goal is to learn as much as I can and become a better developer.</p> : <p>My goal is to learn as much as I can and become a better developer. I am currently working on a project that uses React, Node.js, and MongoDB to create a web application that allows users to create and share recipes.</p>}
        <h3>Here are a few fact's about me</h3>
        <ul>
            <li>My name is {identity.firstName}.</li>
            <li>I lve in {identity.state} in the {identity.country} and I work as a {identity.occupation}.</li>
            {identity.hobbies.length >= 3 &&
                <li>My Hobbies are {identity.hobbies[0]}, {identity.hobbies[1]}, and {identity.hobbies[2]}.</li>
            }
        </ul>
        <h3>My Skills Are:</h3>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        <script>
            import "../scripts/menu.js";
          </script>
    </BaseLayout>
